<div class="container body-content">

    <form action="/search/results" method="post">
        <h2>Search by: </h2>

        <p>
            <span>
                <input type="radio" name="searchType" id="BloodGroup" value="BloodGroup"
                       @if (ViewBag.checkedValue == "BloodGroup") { <text> checked="checked" </text> } />
                <label for="BloodGroup">Blood Group</label>
            </span>
            <span>
                <input type="radio" name="searchType" id="Location" value="Location"
                       @if (ViewBag.checkedValue == "Location") { <text> checked="checked" </text> } />
                <label for="Location">Location</label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>
        <input type="submit" value="Search" />
        <hr />
    </form>

    @if (ViewBag.donors != null && ViewBag.donors.Count !=0)
    {
    <table class="donor-listing">
            <tr>
                <th>Donor ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Blood Group</th>
            </tr>
            @foreach (var donor in ViewBag.donors)
            {
                <tr>
                    <td>@donor.Id</td>
                    <td>@donor.FirstName, @donor.LastName</td>
                    <td>@donor.Location</td>
                    <td>@donor.Email</td>
                    <td>@donor.ContactNum</td>
                    <td>@donor.BloodGroup</td>
                </tr>
            }
  
    </table>
    }
    else if(ViewBag.donors != null && ViewBag.donors.Count == 0)
    {
        <h2>No results found.</h2>
    }
</div>
